### --- Maven & Java Binaries (Cualquier nivel) ---
**/target/
**/*.class
**/*.jar
**/*.war
!.mvn/wrapper/maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.jar

### --- Configuración y Secretos ---
**/.env
**/.env.*
**/application-local.properties
**/application-local.yml

### --- NetBeans / IDEs ---
**/nbactions.xml
**/nb-configuration.xml
.vscode/
.idea/
*.iml

### --- Sistema Operativo ---
[Dd]esktop.ini
Thumbs.db
.DS_Store

### --- Logs ---
*.log
**/logs/