### --- Maven & Java Binaries (Cualquier nivel) ---
**/target/
**/*.class
**/*.jar
**/*.war
!.mvn/wrapper/maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.jar

### --- Configuración y Secretos ---
**/.env
**/.env.*
**/application-local.properties
**/application-local.yml

### --- STS / Eclipse ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

### --- NetBeans ---
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/nbactions.xml
**/nb-configuration.xml

### --- VS Code ---
.vscode/
*.code-workspace
.history/

### --- Sistema Operativo (Windows / macOS) ---
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
$RECYCLE.BIN/
.DS_Store
._*

### --- Logs & Temporales ---
*.log
**/logs/
run/
HELP.md